Classroom Info
<p>
<%= render partial: 'classroom', locals: {classroom_student: @classroom.student} %>  
<%= @classroom.course_name %>

<%= @classroom.semester %>

<%= render partial: 'students/_student', locals: {classroom_student: @classroom.student} %> 
</p>
